<h2>Breweries</h2>

<% @breweries.each do |brewery| %>
  <span style="font-size:20px; font-weight:bold;"><%= link_to brewery.name, "/breweries/#{brewery.id}" %></span><br>
  <span style="font-size:10px">Added to records: <%= brewery.created_at %></span><br><br>
<% end %>
<br>
<%= button_to "Add New Brewery", "/breweries/new", method: :get %>
